body {
  background-color: #f1f1f3;
}



.title {				
  text-align: center;
}

.d_row {				
    font: 24px helvetica;		
    color: darkblue;	
    font-weight: bold;
  }

.r_row {				
    font: 14px helvetica;		
    color: red;	
  }
 
  #map_here {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .tooltip {	
    position: absolute;			
    text-align: left;			
    width: 350px;									
    padding: 2px;				
    font: 14px helvetica;		
    background: darkblue;
    color: white;	
    border: 2px;		
    border-radius: 8px;			
    pointer-events: none;			
  }

  #map_here { 
    height: 500px;
    width: 450px;
   }

   #map_title { 
    position: absolute;
   }

  .marker {
    background-color: darkblue;
    opacity: .5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

 #marker_tooltip {		
  text-align: left;												
  font: 14px helvetica;		
}

#submission_rate {		
  text-align: center;												
  font: 64px helvetica;	
  font-weight: bold;
}